.search-page{
  padding: 20px;
  .filter-box{
    border-top: 5px solid $menu-background-color;
    //@include box-shadow;
  }
  .result-box{

    /*.product-card{
      text-align: center;
      width: 250px;
      height: 300px;
      margin-right: 20px;
      margin-bottom: 10px;
      padding: 0px;
      overflow: hidden;
      -ms-box-shadow: 2px 2px 2px #CCC8C8;
      -moz-box-shadow: 2px 2px 2px #CCC8C8;
      -webkit-box-shadow: 2px 2px 2px #CCC8C8;
      box-shadow: 2px 2px 2px #CCC8C8;
      transition: all .5s linear;
      img{
        width: 100%;
        height: 200px;
        position: absolute;
        top: 0;
        left: 0;
      }
      .name{
        font-size: larger;
        color: black;
        &:hover{
          cursor: pointer;
        }
      }
      .reg-price{
        color: black;
      }
      .sale-price{
        color: red;
      }
      .overlap{
        width: 200px;
        height: 200px;
        margin-top: -200px;
        padding-top: 50px;

        opacity: 0;
      }
      &:hover{

        .overlap{
          opacity: 1;


        }
        img{

        }
      }

    }*/
  }
}


.product-details{
  color:black;
  border-radius: 0px;
  margin-top: 20px;

  .link{
    font-weight: bolder;
    color: black;
    font-size: small;
    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
  }

  .product-image{
    img{
      width: 180px;
      height: 200px;
      overflow: hidden;
    }
  }
  .reg-price{
    color: black;
  }
  .sale-price{
    color: red;
    font-size: larger;
    margin-bottom: 15px;
  }
  .modal-footer{
    padding: 0px;


  }
  .product-detail-box{

    //border-left: 1px double gray;
  }
}

.product-box{

  height: 300px;
  width: 300px;
  background-size: contain;
  overflow-y: hidden;
  margin-bottom: 50px;
  //background-color: rgba(0,0,0,.8);
  //border: 1px solid rgba(0,0,0,.8);
 // border-left: 0px;
  //transition: all .5s linear;
  //box-shadow: 2px 2px 2px rgba(0,0,0,.8);

  img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    margin-top:50px;
    height: 200px;
    opacity: 1;
    padding: 5px;
    &:hover{

    }
  }
  p{
    color: white;
    font-size: x-large;
    text-align: center;
    padding-top: 30px;
    position: relative;
  }
  button{
    position: relative;
  }
  .reg-price{
    color: gray;
    font-weight: bold;
    font-size: x-large;

  }
  .sale-price{
    color: red;
    font-weight: bold;
    font-size: x-large;
  }
  .name{
    font-size: large;
    text-transform: uppercase;
    color: gray;
    &:hover{
      cursor: pointer;
    }
  }

  .slide-footer{
    background-color: black;
    height: 40px;
    position: relative;
    bottom: -300px;
    padding-left: 10px;
    padding-right: 10px;
    transition: bottom .3s ease-in-out;
    //margin-left: 15px;
    //margin-right: 15px;
    text-align: center;
    a{
      color: rgba(128, 128, 128,.5);
      font-size: 30px;
      top: -60px;
      position: relative;
      cursor: pointer;
      transition: all .5s linear;
      padding-left: 15px;
    }
    .i-view{

      &:hover{
        color: #00a31e;
      }
    }

    .i-cart{

      &:hover{
        color: yellow;
      }
    }
    .i-fav{

      &:hover{
        color: red;
      }
    }
  }

  &:hover{
   /* -ms-box-shadow: 2px 2px 2px rgba(0,0,0,.8);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.8);
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.8);*/
    //box-shadow: 2px 2px 2px rgba(0,0,0,.8);
    //border-top: 2px solid red;

    .slide-footer{
      bottom: -260px;
    }
  }
}