<view-title>eShop - Cart</view-title>
<div class="container margin-top-10">


    <div class="row shipping-items">
        <div class="col-xs-12 col-sm-12 margin-top-20" style="padding-left: 0px;padding-right: 0px">
            <h1 ng-hide="!cart || cart.length==0">Your items</h1>
            <h1 class="text-danger" ng-show="!cart || cart.length==0">Your cart is empty</h1>
            <table class="table">

                <tbody>
                <tr ng-repeat="item in cart" style="font-size: large"
                    ng-animate="'animate'">
                    <td class="col-xs-5">

                        <div class="col-sm-4 col-xs-12">
                            <img ng-src="{{item.product.photo.imageUrl}}">
                        </div>
                        <div class="col-sm-8 col-xs-12 text-center" ng-bind="item.product.name">

                        </div>

                    </td>
                    <td class="col-xs-3 ">
                        <i class="link fa fa-minus-circle" ng-click="decreaseeItemQuantity(item)"></i>
                        <span ng-bind="item.quantity">x</span>
                        <i class="link fa fa-plus-circle" ng-click="increaseItemQuantity(item)"></i></td>
                    <td class="col-xs-2 ">{{item.quantity*item.product.price}}</td>
                    <td class="col-xs-2"><i class="link text-danger fa fa-trash" ng-click="deleteCartItem(item)"></i></td>

                </tr>

                </tbody>
            </table>
         <!--   <button class="btn btn-primary" ng-init="pIndicator=false" ng-click="pIndicator=true;checkme(pIndicator);" ><i class="fa fa-spinner fa-spin" ng-show="pIndicator"></i> Click</button>
-->


        </div>


    </div>

    <div class="row shipping-summary">
        <div class="col-sm-6 col-xs-12">

        </div>

    </div>
    <div class="sticky-checkout">
        <div class="price" ng-bind-template="${{getTotalProductPrice()}}">$0</div> <button class="btn btn-opp-secondary" ng-click="checkout()" ng-disabled="!cart || cart.length==0"> Checkout </button>
    </div>


</div>