<view-title>eShop - Checkout</view-title>
<div class="container">

    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <div class="row text-left shipping-info"  id="shipping">
                <div class="panel panel-default">
                    <div class=" panel-heading">1. Choose your shipping address</div>
                    <div class="panel-body shipping-info" >
                        <div class="col-xs-12 " ng-repeat="addr in addresses">
                            <input type="radio"  name="address"  id="addr{{$index}}" ng-model="order.addressId" ng-value="addr.id" >
                            <label for="addr{{$index}}" ng-bind-template="{{addr.firstName}} {{addr.lastName}}, {{addr.address1}}, {{addr.state}}, {{addr.zip}}"></label>
                            <a class="link link-edit link-lg" uib-tooltip="Edit" ng-click="editAddress(addr)"><i class="fa fa-pencil-square-o"></i></a>
                            <a class="link link-delete link-lg" uib-tooltip="Delete" ng-click="deleteAddress($index)"><i class="fa fa-trash-o"></i></a></td>
                        </div>


                        <div class="col-xs-12 margin-top-10">
                            <a class="link"  ng-click="openAddressPopup()"><i class="fa fa-truck"></i> Add Shipping Address</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row  shipping-info text-left">
                <div class="panel panel-default">
                    <div class="panel-heading">2. Choose your shipping method</div>
                    <div class="panel-body shipping-info" >
                        <div class="col-xs-12 col-sm-12 " ng-repeat="shipping in shippings">
                            <input type="radio"  name="shipping"  id="s{{$index}}" ng-model="order.shippingId" ng-value="shipping.id"
                            ng-change="changeShipping(shipping)">
                            <label for="s{{$index}}" ng-bind="shipping.name"></label>
                        </div>


                    </div>
                </div>
            </div>

            <div class="row" id="payment" >
                <div class="col-xs-12 text-center margin-bottom-20" >
                    <button class="margin-top-10 btn btn-default btn-lg" ng-class="[{'btn-success':paymentMethod==='paypal'}]" ng-click="payWithPayPal()"><i class="fa fa-paypal"></i> Pay with Paypal</button>
                    <button class="margin-top-10 btn btn-default btn-lg" ng-class="[{'btn-success':paymentMethod==='credit_card'}]"ng-click="payWithCreditCard()"><i class="fa fa-credit-card"></i> Pay with Credit Card</button>
                </div>
                <div class="col-xs-12" ng-show="paymentMethod==='credit_card'">
                        <form class="panel panel-default panel-card" name="formCard"  id="formCard" novalidate>
                            <div class="panel-heading">3. Credit Card
                                <span class="pull-right text-success" ng-show="formCard.$valid" ><i class="fa fa-check-square-o"></i> Complete</span>
                                <span class="pull-right text-danger" ng-hide="formCard.$valid"><i class="fa fa-square-o"></i> Incomplete</span>
                            </div>
                            <div class="panel-body " >
                                <div class="row">
                                    <div class="heading col-xs-12">Cardhoder's Name</div>
                                    <div class="text-box col-xs-12" >
                                        <div class="col-xs-12 col-sm-6 margin-top-10" ng-class="{ 'has-error': formCard.fname.$invalid  }" style="padding-left: 0px">
                                            <input type="text" class="col-xs-11" placeholder="First name "  required ng-model="card.first_name" name="fname">
                                        </div>
                                        <div class="col-xs-12 col-sm-6 margin-top-10" ng-class="{ 'has-error': formCard.lname.$invalid  }"  style="padding-left: 0px">
                                            <input type="text" class="col-xs-11" placeholder="Last name"  required ng-model="card.last_name" name="lname">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="heading col-xs-12">Card Number</div>
                                    <div class="text-box col-xs-12" ng-class="{ 'has-error': formCard.cardNumber.$invalid  }">
                                      <input type="text" class="col-sm-6 col-xs-10" placeholder="16 digit credit card number" name="cardNumber" required ng-model="card.number" cc-number cc-eager-type >

                                    <span class="col-sm-offset-1 col-sm-2 col-xs-2">
                                        <i ng-show="formCard.cardNumber.$ccEagerType ==='MasterCard'" class="fa fa-cc-mastercard fa-fw fa-3x"></i>
                                        <i ng-show="formCard.cardNumber.$ccEagerType ==='Visa'" class="fa fa-cc-visa fa-fw fa-3x"></i>
                                        <i ng-show="formCard.cardNumber.$ccEagerType ==='American Express'" class="fa fa-cc-amex fa-fw fa-3x"></i>
                                    </span>

                                    </div>
                                </div>
                                <div class="row" style="margin-top:10px">
                                    <div class="col-sm-6 col-xs-12" style="padding-left: 0px">
                                        <div class="heading col-xs-12">Expiry Date</div>
                                        <div cc-exp class="text-box col-xs-12">
                                            <div class="col-xs-6" ng-class="{ 'has-error': formCard.month.$invalid  }" style="padding-left: 0px">
                                                <input class="col-xs-10" placeholder="MM"  required ng-model="card.expire_month" cc-exp-month name="month"/>
                                            </div>
                                            <div class="col-xs-6" ng-class="{ 'has-error': formCard.year.$invalid  }"  style="padding-left: 0px">
                                                <input  class="col-xs-10" placeholder="YY"  required ng-model="card.expire_year" cc-exp-year name="year"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12" style="padding-left: 0px">
                                        <div class="heading col-xs-12">CVV</div>
                                        <div class="text-box col-xs-12"  ng-class="{ 'has-error': formCard.cvv.$invalid  }"  >
                                            <input type="text" class="col-xs-12" placeholder="XXX"  required ng-model="card.cvv" ng-model="card.cvv2" cc-cvc name="cvv">

                                        </div>
                                    </div>


                                </div>
                            </div>

                        </form>
                </div>


            </div>
        </div>

        <div class="col-sm-4 col-xs-12">
            <div class="checkout-pagelet" id="confirm">


                <div class="panel panel-payment " ng-class="{'disabled' :orderPgIndc}">
                    <div class="panel-heading">Place your order</div>
                    <div class="panel-body " >
                        <table class="price-table margin-bottom-20">
                            <tr><td><label>Item(s)</label></td><td ng-bind="cart.length"></td></tr>
                            <tr><td><label>Item(s) cost</label></td><td ng-bind="order.productCost | currency"></td></tr>
                            <tr><td><label>Tax</label></td><td ng-bind="order.tax | currency">$10</td></tr>
                            <tr><td><label>Shipping and Handling</label></td><td ng-bind="order.shippingCost |currency"></td></tr>
                            <tr ng-show="order.discount>0"><td><label>Discount</label></td><td ng-bind="order.discount |currency" class="discount"><string></string></td></tr>
                            <tr><td><label>Total</label></td><td class="total" ng-bind-template="{{order.productCost+order.tax+order.shippingCost-order.discount | currency}} ">$225</td></tr>
                            <tr><td>Have any coupon?</td></tr>
                            <tr>
                                <td ><input type="text" ng-model="couponCode"> </td>
                                <td ><button class="btn btn-default pull-left" ng-click="applyCoupon()">Apply</button> </td>
                            </tr>
                        </table>

                        <div class="row text-center margin-bottom-10" ng-show="orderPgIndc">
                            <i class="spinner"></i>
                        </div>
                        <div class="text-center margin-bottom-10 alert alert-success" ng-show="apiSMessage" >
                            <!--<span class="text1"><strong>Order being processed...Please do not refresh the page or hit back</strong></span>-->
                            <span ng-bind="apiSMessage"><strong></strong></span>
                        </div>
                        <div class="text-center margin-bottom-10 alert alert-danger" ng-show="apiEMessage" >
                            <!--<span class="text1"><strong>Order being processed...Please do not refresh the page or hit back</strong></span>-->
                            <span  ng-bind="apiEMessage"><strong></strong></span>
                        </div>
                        <div class="text-center margin-bottom-20">
                            <button class="btn btn-success btn-lg" ng-click="makePurchase()"   id="btn-confirm"
                            ng-disabled="orderPgIndc || !order.addressId || !order.shippingId || !paymentMethod || (paymentMethod==='credit_card' && formCard.$invalid)" >Make Payment</button>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div>