<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<% include ../common/header %>
<div class="col-xs-12 text-medium">Hello, <%= model.firstName %></div>

<div class="col-xs-12 text-success">Your cancel request has been created successfully. We will process your request within 24 hours. </div>
<div class="col-xs-12 text-success">Your refund will be credited to your account within 5 business days after processed.</div>
<div class="col-xs-12 text-medium">Order# <strong><%= model.orderNumber %></strong></div>
<div class="col-xs-12 text-medium">Refund Amount <strong> $<%= model.reqAmnt %></strong></div>
</body>
</html>