<section class="col-xs-12 col-sm-offset-3 col-sm-6">
    <div class="admin-login">
        <h3>Admin Login</h3>

        <form name="fa" class="form-horizontal"  novalidate>
            <div class="input-group" ng-class="{ 'has-error': fa.username.$invalid  }">
                <span class="input-group-addon" id="user-email"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="user-email" ng-model="loginform.username" autofocus required name="username">
            </div>
            <div class="input-group margin-top-10" ng-class="{ 'has-error': fa.password.$invalid  }">
                <span class="input-group-addon" id="user-pwd"><i class="fa fa-key"></i></span>
                <input type="password" class="form-control" placeholder="Password" aria-describedby="user-pwd" ng-model="loginform.password" required name="password">
            </div>
            <div class="alert alert-danger margin-top-10" ng-show="showLoginErr">
                {{showLoginErr}}
            </div>
            <div class="input-group margin-top-10">
                <button class="btn btn-success " ng-click="submitLogin()" ng-disabled="fa.$invalid"><i ng-show="signupprogress" class="fa fa-spinner fa-spin"></i> Login</button>
            </div>

        </form>
    </div>
</section>