<!DOCTYPE html>
<html ng-app="eshop">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online shopping cart website, a product by AppStackSolutions.com">
    <meta name="author" content="AppStackSolutions.com">
    <title ng-bind-template="{{viewTitle}} - AppStackSolutions.com">AppStackSolutions.com</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="vendor/angular-chart.js/dist/angular-chart.min.css" rel="stylesheet" >-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/angular/angular-csp.css" rel="stylesheet">
    <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="vendor/angularjs-toaster/toaster.min.css" rel="stylesheet">
    <link href="vendor/angularjs-slider/dist/rzslider.css" rel="stylesheet">
    <link href="vendor/bootstrap-additions/dist/bootstrap-additions.min.css" rel="stylesheet" >
    <link href="vendor/angular-xeditable/dist/css/xeditable.min.css" rel="stylesheet">
    <link href="vendor/metisMenu/dist/metisMenu.min.css" rel="stylesheet" >

    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <base href="/">
  </head>
  <body>

  <!--<button type="button" class="btn btn-lg btn-danger"
          data-template-url="modules/www/tmpl/side-menu.html" data-placement="right"
          data-animation="am-slide-right"
          bs-aside="aside" data-container="body">Menu
  </button>-->
    <header headroom offset='220' class="navbar navbar-fixed-top top-header wow bounceInDown" data-wow-delay="0s" ng-show="showHeader">

      <div class="row navbar-header"  ng-controller="loginController"  >

        <div class="col-xs-6 col-sm-3 text-left">
          <a ui-sref="home" class="img-brand" >
            <img src="images/logo.png">
          </a>
        </div>
        <form class="col-xs-6 col-sm-6 hidden-xs">
          <!--<input type="search" placeholder="Search..." class="product-search-text" ng-model="query">
          <button class="btn-search" ng-submit="search(query)"   ui-sref="search({query: query , category: ''})"><i class="fa fa-search"></i></button>
-->
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="search.query">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"   ui-sref="search({query: search.query })"><i class="fa fa-search"></i></button>
            </span>
          </div><!-- /input-group -->
        </form>

        <div class="col-xs-6 col-sm-3 " style="line-height: 40px; text-align: right">
          <a class="link cart visible-xs pull-left"><i class="fa fa-search fa-lg" ng-click="openSearchModal()"></i></a>

          <a class="link cart" ui-sref="cart"><i class="fa fa-shopping-bag fa-2x"><span class="badge" ng-bind="cart? cart.length:0"> </span></i>


          </a>

          <a class="link login" ui-sref="login" ng-hide="loggedIn"><strong> Login</strong></a>




            <!--<button type="button" class="btn btn-opp-primary" ng-bind="state.user.firstName">  </button>-->
            <a  ng-show="loggedIn" class="link cart dropdown-toggle" data-template-url="modules/app/tmpl/side-menu.html" data-placement="right"
                data-animation="am-slide-right"
                bs-aside="aside" data-container="body">
              <i class=" fa fa-user fa-2x"></i>
            </a>
            <a  class="link visible-xs text-success pull-right"  style="margin-left: 10px" ng-click="$hide();loadDashaboard()" ng-show="loggedIn && user.roles.indexOf('admin')!= -1" data-template-url="modules/admin/tmpl/admin-side-menu.html"
                data-placement="left"  data-animation="am-slide-left"
                bs-aside="aside" data-container="body"><i class="fa fa-cog fa-2x"></i> </a>



        </div>
       <!-- <form class="col-xs-12 visible-xs margin-top-10 margin-bottom-10">
          &lt;!&ndash;<input type="search" placeholder="Search..." class="product-search-text" ng-model="query">
          <button class="btn-search" ng-submit="search(query)"   ui-sref="search({query: query , category: ''})"><i class="fa fa-search"></i></button>
&ndash;&gt;
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="Search for..." ng-model="search.query">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"  ui-sref="search({query: search.query })"><i class="fa fa-search"></i></button>
              </span>
          </div>&lt;!&ndash; /input-group &ndash;&gt;
        </form>-->
      </div>

    </header>

    <div id="progress-spinner"  ng-show="pspinner"><i class="spinner"></i></div>
    <toaster-container></toaster-container>
    <div ui-view class=" page-view"  ></div>

  </body>
  <script src="vendor/jquery/dist/jquery.min.js"></script>
  <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
  <script src="vendor/angular-touch/angular-touch.min.js"></script>
  <script src="vendor/angular-strap/dist/angular-strap.min.js"></script>
  <script src="vendor/angular-strap/dist/angular-strap.tpl.min.js"></script>
  <script src="vendor/greensock/src/minified/TweenMax.min.js"></script>
  <script src="vendor/angular-tweenmax/dist/angular-tweenmax.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="vendor/angular-confirm-modal/angular-confirm.js"></script>
  <script src="vendor/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="vendor/ng-file-upload/ng-file-upload-all.min.js"></script>
  <script src="vendor/angular-facebook/lib/angular-facebook.js"></script>
  <script src="vendor/angular-inview/angular-inview.js"></script>
  <script src="vendor/angularjs-toaster/toaster.min.js"></script>
  <script src="vendor/headroom.js/dist/headroom.min.js"></script>
  <script src="vendor/headroom.js/dist/angular.headroom.min.js"></script>
  <script src="vendor/wow/dist/wow.min.js"></script>
  <script src="vendor/angularjs-viewhead/angularjs-viewhead.js"></script>
  <script src="vendor/angular-resource/angular-resource.min.js"></script>
  <script src="vendor/ng-library.js"></script>
  <script src="vendor/lodash/dist/lodash.min.js"></script>
  <script src="vendor/metisMenu/dist/metisMenu.min.js"></script>
  <script src="vendor/Chart.js/Chart.min.js"></script>
  <script src="vendor/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="vendor/angularjs-slider/dist/rzslider.min.js"></script>
  <script src="vendor/angularUtils-pagination/dirPagination.js"></script>
  <script src="vendor/ngSmoothScroll/lib/angular-smooth-scroll.js"></script>
  <script src="vendor/angular-credit-cards/release/angular-credit-cards.js"></script>
  <script src="vendor/angular-ui-router-styles/ui-router-styles.js"></script>
  <script src="vendor/oclazyload/dist/ocLazyLoad.js"></script>
  <script src="vendor/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>


  <script src="modules/app/AppModule.js"></script>
  <script src="modules/common/HTTPInterceptor.js"></script>
  <script src="modules/app/AppConfig.js"></script>
  <script src="modules/common/UserCart.js"></script>
  <script src="modules/common/UserPayment.js"></script>
  <script src="modules/common/CarouselController.js"></script>
  <script src="modules/common/LoginController.js"></script>
  <script src="modules/app/HomeController.js"></script>
  <script src="modules/checkout/CartController.js"></script>
  <script src="modules/checkout/CheckoutController.js"></script>
  <script src="modules/checkout/ConfirmController.js"></script>
  <script src="modules/app/ContactController.js"></script>
  <script src="modules/order/MyOrderController.js"></script>
  <script src="modules/common/PhotoService.js"></script>
  <script src="modules/common/UserService.js"></script>
  <script src="modules/order/OrderService.js"></script>
  <script src="modules/common/ExceptionController.js"></script>
  <script src="modules/search/SearchService.js"></script>
  <script src="modules/search/SearchController.js"></script>
  <script src="modules/common/AdController.js"></script>
  <script src="modules/search/ProductDetailsController.js"></script>
  <script src="modules/profile/ProfileController.js"></script>
  <script src="modules/search/LoadingDirective.js"></script>

  <!--admin controllers -->
  <script src="modules/admin/DashboardController.js"></script>
  <script src="modules/admin/ProductController.js"></script>
  <script src="modules/admin/TaxController.js"></script>
  <script src="modules/admin/CategoryController.js"></script>
  <script src="modules/admin/MerchandiseController.js"></script>
  <script src="modules/admin/ShippingController.js"></script>
  <script src="modules/admin/AdminOrderController.js"></script>
  <script src="modules/admin/RefundController.js"></script>
  <script src="modules/admin/DashboardService.js"></script>
  <script src="modules/admin/CouponController.js"></script>

  <script type="text/ng-template" id="tmpl.search.modal.html">

    <div class="modal ">
      <div class="modal-dialog">
        <div class="modal-content login-modal">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>

          </div>

          <div class="modal-body text-center ">

            <form >

              <div class="input-group ">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="search.query">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="$hide()"  ui-sref="search({query: search.query })"><i class="fa fa-search"></i></button>
              </span>
              </div><!-- /input-group -->
            </form>
          </div>


        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



  </script>
</html>
