<div class="modal ">
    <div class="modal-dialog modal-sm">
        <div class="modal-content " >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" ng-bind="selectedOrder.orderNumber"></h3>

            </div>
            <div class="modal-body " >
                <form name="f" class="form-horizontal text-left">
                    <div class="row form-group">
                        <label class="col-xs-6  control-label">Carrier</label>
                        <div class="col-xs-6">
                            <select class="form-control" ng-model="selectedOrder.carrier" ng-options="c.label as c.label for c in carriers"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-xs-6  control-label">Tracking Number</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" ng-model="selectedOrder.trackingNumber" required></input>
                        </div>
                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button class="btn btn-success "  ng-click="$hide();updateShipping()"> Save</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->