<div class="modal ">
    <div class="modal-dialog">
        <div class="modal-content login-modal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create New Shipping Address</h4>
            </div>
            <div class="modal-body ">


                <form name="p" class="form-horizontal" role="form" >
                    <div class="form-group" ng-class="{ 'has-error': p.fname.$invalid  }">
                        <label class="control-label col-sm-2" >First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="fname" placeholder="Enter first name" ng-model="address.firstName" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': p.lname.$invalid  }">
                        <label class="control-label col-sm-2" >Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="lname" placeholder="Enter last name" ng-model="address.lastName" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': p.address1.$invalid  }">
                        <label class="control-label col-sm-2" >Address1</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address1" placeholder="Enter street address1" ng-model="address.address1" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': p.address2.$invalid  }">
                        <label class="control-label col-sm-2" >Address2</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="address2" placeholder="Enter street address2" ng-model="address.address2" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': p.city.$invalid  }">
                        <label class="control-label col-sm-2">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="city" placeholder="City"  ng-model="address.city" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': p.state.$invalid  }">
                        <label class="control-label col-sm-2" >State</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="state" placeholder="State" ng-model="address.state"  required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': p.zip.$invalid  }">
                        <label class="control-label col-sm-2" >Zip</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="zip" placeholder="Zip code" ng-model="address.zip" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                           <!-- <div class="checkbox">
                                <label><input type="checkbox" ng-model="address.ship2this"> Ship to this</label>
                            </div>-->
                            <!--<div class="checkbox">
                                <label><input type="checkbox"  ng-model="address.defaultAddress"> Mark it default</label>
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-opp-secondary" ng-click="createAddress(address);$hide()">Create</button>
                        </div>
                    </div>
                </form>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->