<view-title>{{product.name}}</view-title>
<div class="row product-details">
    <div class="col-xs-12 col-sm-6">

            <!--<img ng-src="{{product.url}}">-->

            <div class="row" >
                <div class="product-carousel-box" style="border-right: 1px double gray">
                    <h1 class="text-center" >{{product.name}}</h1>
                    <img ng-src="{{product.photo.imageUrl}}" class="img-responsive" />
                    <!--<uib-carousel interval="myInterval" no-wrap="true">
                        <uib-slide ng-repeat="slide in slides" active="slide.active" class="row">


                            <div class="col-xs-12">
                                <img ng-src="{{slide.image}}" class="img-responsive">
                            </div>
                        </uib-slide>
                    </uib-carousel>-->
                </div>

            </div>
    </div>
    <div class="col-xs-12 col-sm-6 product-detail-box">
        <div class="">
            <div class="col-xs-12 reg-price">
               <!-- <span><strong>Reg price</strong></span><span><strike> $200</strike></span>-->
            </div>
            <div class="col-xs-12 sale-price">
                <span><strong>Sale price</strong></span><span ng-bind="product.price"> </span>
            </div>
            <uib-tabset>

                <uib-tab  heading="Overview" active="true" >
                   Tab content 1
                </uib-tab>
                <uib-tab  heading="Details" active="false" >
                    Tab content 2
                </uib-tab>

            </uib-tabset>
            <div class="col-xs-12 " style="margin-top: 10px">
                <label class="col-xs-4">Quantity</label>
                <div class="col-xs-4"><select class="form-control" ng-model="product.quantity" ng-options="n for n in quantities"></select></div>
                <button class="col-xs-4 btn btn-opp-secondary" ng-click="addToCart()"><i class="fa fa-shopping-bag"></i> Add to cart</button>
            </div>

            <div class="col-xs-12 " style="margin-top: 10px">
                <button class="btn btn-default pull-right" ng-click="$hide()">Continue Shopping</button>
            </div>

        </div>
    </div>

</div>