
<div class="product-box ">
    <img ng-src="{{p.url}}" class="center-block">
    <a class="col-xs-12" ui-sref="details({id: p.id})" ><span class="name">{{p.name}}</span></a>
    <div class="col-xs-12 reg-price">
        <!--<i class="fa fa-tag"></i>-->
        <span class="reg-price" ng-bind-template="${{p.price}}">Price unavailable</span>
        <!--<span class="sale-price">$150</span>-->
    </div>


    <div class="row slide-footer">

        <a class="i-view" data-trigger="hover" data-type="success" data-title="Quick View" bs-tooltip ng-click="quickView($index)">
            <i class="fa fa-info-circle"></i>
        </a>

        <a class="i-cart" data-trigger="hover" data-type="success" data-title="Add To Cart" bs-tooltip ng-click="addToCart(p)">
            <i class="fa fa-shopping-bag "></i>
        </a>

        <a class="i-fav" data-trigger="hover" data-type="success" data-title="Add To Favourite" bs-tooltip ng-click="addToCart(p)">
            <i class="fa fa-heart "></i>
        </a>

    </div>
</div>