<div class="container margin-top-10">
    <div class="row margin-bottom-10">
        <span class="text-xx-large">Your Order(s)</span>
    </div>
    <div class="row ">
        <div class="col-sm-6"><strong class="pull-left" ng-bind-template="{{totalRecords}} - order(s) found"></strong></div>

        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-sm-6 text-right"></dir-pagination-controls>
    </div>
    <div class="panel panel-default order-panel " dir-paginate="order in orders |itemsPerPage:recordsPerPage" total-items="totalRecords" current-page="pagination.current" >
        <div class="panel-heading">
            <table class="" style="width: 100%">
                <thead>
                        <tr class="row">
                            <th class="col-xs-3" >Placed On</th>
                            <th class="col-xs-3" >Total</th>
                            <th class="col-xs-3" >Ship To</th>
                            <th class="col-xs-3" >Order#</th>
                        </tr>
                </thead>
                <tbody>
                <tr class="row" ng-init="fullAddress=order.address.firstName + ' '+order.address.lastName +', '+ order.address.address1+', '+ order.address.state + ' '+ order.address.zip">
                    <td class="col-xs-3" ng-bind="order.createdAt | date:'short'"></td>
                    <td class="col-xs-3" ng-bind="order.finalCost | currency"></td>
                    <td class="col-xs-3" ><p  ng-bind-template="{{fullAddress| limitTo:20}} {{fullAddress.length > 20 ? '...' : ''}}"
                                              uib-popover="{{fullAddress}}" popover-trigger="mouseenter" popover-placement="bottom-left"></p></td>
                    <td class="col-xs-3" ng-bind="order.orderNumber"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-body " >
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <h3 ng-bind="order.orderStatus.label">Preparing shipment</h3>
                    <div class="col-xs-12 " data-wow-delay="0s">
                        <uib-progressbar animate="true" value="0" type="success"></uib-progressbar>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p><button class="btn btn-default" ng-click="" ng-show="order.orderStatusId===1">Cancel this Order</button></p>
                    <p><button class="btn btn-default" ng-click="">Track this Order</button></p>
                </div>


            </div>
            <hr>
            <div class="row order-item" ng-repeat="cart in order.carts">
                <div class="col-xs-6 col-sm-3">
                    <img ng-src="{{cart.product.photo.imageUrl}}" class="img-responsive">
                </div>
                <div class="col-xs-6 col-sm-9">
                    <div class="col-sm-6 col-xs-12">
                        <a class="col-xs-12 product-name" ui-sref="product({id: cart.product.id, name: getSearchName(cart.product.name)})"><span class="" ng-bind="cart.product.name"></span></a>
                        <p ng-bind-template="Quantity: {{cart.quantity}}"></p>
                        <p ng-bind-template="Price: {{cart.price | currency}}"></p>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <p><button class="btn btn-default" ng-click="addToCart(cart.product)">Buy it Again</button></p>
                        <p><button class="btn btn-default" ng-click="addToCart(cart.product)">Cancel This Item</button></p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>