body {
  background-color: #ddd;
  color: #555555;
  font-family: 'Avenir Next', sans-serif;
}

h1 {
  font-family: 'Avenir Next', sans-serif;
}

.navbar-brand>img {
  max-width: 40px;
  max-height: 40px;

}
.margin-top-20{
  margin-top: 20px;
}

.text-large{
  font-size: large;
}
.text-medium{
  font-size: medium;
}
.text-x-large{
  font-size: x-large;
}