<view-title>eShop</view-title>
<div class="row">


    <div class="row" ng-controller="CarouselDemoCtrl">
        <div class="carousel-box">
            <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides" active="slide.active" class="row">


                   <!-- <div class="col-xs-6 text-box">

                        <h3>{{slide.text}}</h3>
                        <h5>{{slide.text2}}</h5>
                        <button class="btn btn-success">{{slide.link.text}}</button>
                    </div>-->
                    <div class="col-xs-6">
                        <img ng-src="{{slide.image}}" class="img-responsive">
                    </div>
                </uib-slide>
            </uib-carousel>
        </div>

    </div>
    <!-- carousel slider -->
    <div class="row text-center">
        <div class="col-sm-3 col-xs-6 category-box">
            <img src="/images/laptop.png">
            <p>Computer and Laptop</p>
            <button class="btn btn-opp-primary "  ui-sref="search({query: '' , category: 'computer'})" >Shop Now</button>
        </div>
        <div class="col-sm-3 col-xs-6 category-box">
            <img src="/images/mobile.png">
            <p>Tablet and Mobile</p>
            <button class="btn btn-opp-primary center-block"  ui-sref="search({query: '' , category: 'mobile'})" >Shop Now</button>
        </div>
        <div class="col-sm-3 col-xs-6 category-box">
            <img src="/images/earphone.png">
            <p>Accessories</p>
            <button class="btn btn-opp-primary center-block"  ui-sref="search({query: '' , category: 'accessories'})" >Shop Now</button>
        </div>
        <div class="col-sm-3 col-xs-6 category-box">
            <img src="/images/tv.png">
            <p>TV and Entertainment</p>
            <button class="btn btn-opp-primary center-block"  ui-sref="search({query: '' , category: 'entertainment'})" >Shop Now</button>
        </div>

 </div>

    <div class="col-xs-12">
        <h3>Most popular</h3>
    </div>


    <div class="row search-page" ng-controller="searchController">
        <!-- <div class="col-md-3 col-lg-3 filter-box">
             <h2>Filter</h2>
         </div>-->


        <ul class="list-unstyled">
            <li ng-repeat="p in products" class="wow zoomIn col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center" data-wow-delay="0s" >
                <ng-include src="'modules/search/tmpl/search.html'" ></ng-include>

            </li>
        </ul>



    </div>


</div>
